@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, lightgray, rgb(75, 75, 75));
    overflow-x: hidden;
}

header {
    color: white;
    height: 50%;
    background-image: url(imagens/comp-img.webp);
    background-repeat: no-repeat;
    background-size: 103% 100%; 
   
    margin: auto;

}

#principal {
    text-align: center;
    padding-top: 120px;
    text-shadow: 5px 5px 3px black;
    font-size: 4em;
}

nav {
    margin-top: 120px;
}

a {
    margin-right: 20px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.474);
    border-radius: 10px;
    box-shadow: 5px 5px 2px black;
    font-weight: bold;
}

a:hover {
    color: black;
    background: white;
    padding: 12px;
}

main > #container {
    display: block;
    margin: auto;
    max-width: 900px;
}

.imagem {
    float: left;
    width: 41%;
    height: 300px;
    margin: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.597);
}

#foto {
    background-image: url(imagens/alunos.jfif);
    background-size: cover;
    background-attachment: 100%, 100%;
    background-position: center center;
}

#texto {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.66);
}

#texto h2 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

#texto p {
    padding: 15px;
    text-indent: 10px;
}

#des {
    text-align: center;
    padding-top: 390px;
    padding-bottom: 20px;
    font-size: 2em;
    color: yellow;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
}

#par {
    text-indent: 10px;  
    padding: 15px;
    max-width: 500px;
    background-color: white;
    margin: auto;
    width: 80%;
    border-radius: 15px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.66);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.597);
    margin-bottom: 35px;
}

#rodar {
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    background-image: url(imagens/computer.jpg);
    background-repeat: no-repeat;
    margin: auto;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.597);
    background-size: cover;
    background-position: center bottom;
}

#centro {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.348);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2em;
    border-radius: 15px;
}

#rodar:hover h2 {
   display: block; 
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 1.2em;
}

#menu {
    display: none;
}